<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166477433900-99daimgnv8t3vkdur8f5i5c74rcjueu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166477433900-99daimgnv8t3vkdur8f5i5c74rcjueu3</string>
	<key>API_KEY</key>
	<string>AIzaSyDAYFu5_We2sTH9NWkf1BvHzLVwHxTTbD4</string>
	<key>GCM_SENDER_ID</key>
	<string>166477433900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cartAdmin</string>
	<key>PROJECT_ID</key>
	<string>cartadmin-d37b0</string>
	<key>STORAGE_BUCKET</key>
	<string>cartadmin-d37b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166477433900:ios:5e346b324e92f335415589</string>
</dict>
</plist>